
/* Nav Bar */
#navbar{
  font-size: 0.97em;
  font-family: 'Custom Serif', serif;
  height: 2.4em;
  line-height: 2.4em;
  margin: 0 auto;  
}

#navbar ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: #CFD8DC;
    display: inline-block;
    width: 100%;
}

#navbar li {
  width: 16%; 
  max-width: 190px;
  min-width: 30px;
  float: left;
  border-right: 1px solid #CFD8DC;
  display: block;
  text-align : center;
  box-sizing: border-box;
}

#navbar .imagecell {
  width:  10%;
}

#navbar li:last-child {
    border-right: none;
}

#navbar li a {
  text-decoration: none;
  color: #263238;
  display: block;
}

#navbar li a:hover {
    background-color: #ECEFF1;
}

.imagenav {
      vertical-align: middle;
      padding: 1px 0px;
      height: 25px;
}

#navbar #homecell {
  background-color: #CFD8DC;
}

#navbar #homecell a:hover{
  background-color: #ECEFF1;
}
